.mpopup {
	width:60%;
	padding:0;
	margin:0;
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	background:#fff;
	z-index:9999;
	@include box-sizing(border-box);
	overflow-y:auto;
	&.fill {
		width:100%;
		overflow:auto;
	}
}
#popfade {
	display:none;
	background:#000;
	position:fixed;
	left:0;
	top:0;
	min-width:100%;
	min-height:100%;
	width:100%;
	height:100%;
	@include opacity(.5);
	z-index:500;
}
#mpopDefaultClose {
	display:block;
	position:absolute;
	right:30px;
	top:30px;
	cursor:pointer;
	z-index: 99;
}
